In [49]:
import pandas as pd
import helpers *

SyntaxError: invalid syntax (<ipython-input-49-7e155a6a7a52>, line 2)

In [54]:
%%bash
cd output
cd 1ZoneUncontrolled_win_1_out/
ls

eplusout.audit
eplusout.bnd
eplusout.csv
eplusout.dxf
eplusout.eio
eplusout.end
eplusout.err
eplusout.eso
eplusout.mdd
eplusout.mtd
eplusout.mtr
eplusout.rdd
eplusout.shd
eplustbl.htm
output.xlsx
readvars.audit
ReadVarsESO

In [55]:
# data = pd.read_excel('output/output.xlsx')
data = pd.read_excel('/home/paula/Documentos/Doctorado/Desarrollo/eppyProject/output/1ZoneUncontrolled_win_1_out/output.xlsx')

In [56]:
data.head()

,Date/Time,ZONE ONE:Zone Windows Total Transmitted Solar Radiation Rate [W](TimeStep):0,ZONE ONE:Zone Windows Total Transmitted Solar Radiation Rate [W](TimeStep):1,ZONE ONE:Zone Windows Total Transmitted Solar Radiation Rate [W](TimeStep):2,ZONE ONE:Zone Windows Total Transmitted Solar Radiation Rate [W](TimeStep):3,ZONE ONE:Zone Windows Total Transmitted Solar Radiation Rate [W](TimeStep):4
0,12/21 00:15:00,0.0,0.0,0.0,0.0,0.0
1,12/21 00:30:00,0.0,0.0,0.0,0.0,0.0
2,12/21 00:45:00,0.0,0.0,0.0,0.0,0.0
3,12/21 01:00:00,0.0,0.0,0.0,0.0,0.0
4,12/21 01:15:00,0.0,0.0,0.0,0.0,0.0

In [57]:
sum(data['Date/Time'].duplicated())

0

In [58]:
len(data)

192

In [59]:
 data =data.set_index('Date/Time')

8920

In [ ]:
df = eso_to_ts('/home/paula/Documentos/Doctorado/Desarrollo/eppyProject/output/1ZoneUncontrolled_win_1_out/output.xlsx', conver)