In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
data = pd.read_csv('eplusout.rdd', header= None)

In [46]:
data = data[2:]

In [47]:
data = data.iloc[:,2:4]

In [48]:
data

,2,3
2,Site Outdoor Air Drybulb Temperature,hourly; !- Zone Average [C]
3,Site Outdoor Air Dewpoint Temperature,hourly; !- Zone Average [C]
4,Site Outdoor Air Wetbulb Temperature,hourly; !- Zone Average [C]
5,Site Outdoor Air Humidity Ratio,hourly; !- Zone Average [kgWater/kgDryAir]
6,Site Outdoor Air Relative Humidity,hourly; !- Zone Average [%]
...,...,...
591,Zone Mechanical Ventilation Standard Density V...,hourly; !- HVAC Average [m3/s]
592,Zone Mechanical Ventilation Standard Density V...,hourly; !- HVAC Sum [m3]
593,Zone Mechanical Ventilation Current Density Vo...,hourly; !- HVAC Average [m3/s]
594,Zone Mechanical Ventilation Current Density Vo...,hourly; !- HVAC Sum [m3]
595,Zone Mechanical Ventilation Air Changes per Hour,hourly; !- HVAC Average [ach]

In [52]:
data[3]

2                     hourly; !- Zone Average [C]
3                     hourly; !- Zone Average [C]
4                     hourly; !- Zone Average [C]
5      hourly; !- Zone Average [kgWater/kgDryAir]
6                     hourly; !- Zone Average [%]
                          ...
591                hourly; !- HVAC Average [m3/s]
592                      hourly; !- HVAC Sum [m3]
593                hourly; !- HVAC Average [m3/s]
594                      hourly; !- HVAC Sum [m3]
595                 hourly; !- HVAC Average [ach]
Name: 3, Length: 594, dtype: object

In [56]:
data[[4,5]] = data[3].str.split('; !-', expand=True)

In [60]:
del data[4]

In [64]:
data

,2,5
2,Site Outdoor Air Drybulb Temperature,Zone Average [C]
3,Site Outdoor Air Dewpoint Temperature,Zone Average [C]
4,Site Outdoor Air Wetbulb Temperature,Zone Average [C]
5,Site Outdoor Air Humidity Ratio,Zone Average [kgWater/kgDryAir]
6,Site Outdoor Air Relative Humidity,Zone Average [%]
...,...,...
591,Zone Mechanical Ventilation Standard Density V...,HVAC Average [m3/s]
592,Zone Mechanical Ventilation Standard Density V...,HVAC Sum [m3]
593,Zone Mechanical Ventilation Current Density Vo...,HVAC Average [m3/s]
594,Zone Mechanical Ventilation Current Density Vo...,HVAC Sum [m3]
595,Zone Mechanical Ventilation Air Changes per Hour,HVAC Average [ach]

In [66]:
data.to_excel('OutputVariables.xlsx')

In [3]:
outputs = pd.read_csv('eplusout.csv')

In [10]:
outputs

,Date/Time,THERMAL ZONE 1:Zone People Total Heating Energy [J](Hourly)
0,07/21 01:00:00,0.0
1,07/21 02:00:00,0.0
2,07/21 03:00:00,0.0
3,07/21 04:00:00,0.0
4,07/21 05:00:00,0.0
...,...,...
8923,12/31 20:00:00,0.0
8924,12/31 21:00:00,0.0
8925,12/31 22:00:00,0.0
8926,12/31 23:00:00,0.0
8927,12/31 24:00:00,0.0

In [14]:
outputs = outputs.set_index('Date/Time')

In [16]:
outputs

                  THERMAL ZONE 1:Zone People Total Heating Energy [J](Hourly)
Date/Time
 07/21  01:00:00                                                0.0
 07/21  02:00:00                                                0.0
 07/21  03:00:00                                                0.0
 07/21  04:00:00                                                0.0
 07/21  05:00:00                                                0.0
...                                                             ...
 12/31  20:00:00                                                0.0
 12/31  21:00:00                                                0.0
 12/31  22:00:00                                                0.0
 12/31  23:00:00                                                0.0
 12/31  24:00:00                                                0.0

[8928 rows x 1 columns]

In [26]:
outputs.rename(columns= {outputs.columns[0] : outputs.columns[0]+'variable'}, inplace= True)

In [23]:
outputs.columns[0]

'THERMAL ZONE 1:Zone People Total Heating Energy [J](Hourly) '

In [27]:
outputs

                  THERMAL ZONE 1:Zone People Total Heating Energy [J](Hourly) variable
Date/Time
 07/21  01:00:00                                                0.0
 07/21  02:00:00                                                0.0
 07/21  03:00:00                                                0.0
 07/21  04:00:00                                                0.0
 07/21  05:00:00                                                0.0
...                                                             ...
 12/31  20:00:00                                                0.0
 12/31  21:00:00                                                0.0
 12/31  22:00:00                                                0.0
 12/31  23:00:00                                                0.0
 12/31  24:00:00                                                0.0

[8928 rows x 1 columns]

In [36]:
if len(datas) == 0:
    print('hello')

NameError: name 'datas' is not defined